* { direction: rtl; }

.owl-carousel .owl-wrapper-outer{direction:ltr;}

/*-------------------------------------Float Left-------------------------------------*/
.header-cart,#cart .text-right .addtocart, #cart .text-right .checkout,.pagination-right,
.category_filter .limit,.pull-right,.contact-info .right,.pagination-wrapper .page-link,
#cart,.close,#accordion .panel-heading .fa.fa-caret-down,#cart .button-container,.information-information .right,#button-search,
.header_right, .custom_banner
{float:left;}
/*-------------------------------------------------------------------------------------*/

/*-------------------------------------Float Right-------------------------------------*/
.header-logo,.header-search,.category_filter .btn-list-grid,.compare-total,.category_filter .show,
.category_filter .sort,.sort-by-wrapper, .show-wrapper,.pull-left,.image1,.image2,.image3,.image4,
.contact-info .left,.contact-info .address-detail,.contact-info .telephone,.contact-info .fax,
.pagination-wrapper .page-result,.nav-tabs > li,legend,.product-thumb .price-new,.product-thumb .price-old,
#top .social_block, #top .social_block ul li, #top-links li, .header_center_static, #menu ul, #menu > ul > li,
#menu .categoryinner > ul, .static-block1, .htabs .etabs li, .product_hover .hover_button .wishlist_button, 
.product_hover .hover_button .compare_button, .subbanner_half, .parllaex-third, .manufacture_block, .fotter_bottom_section .manufacturer_title,
.category_filter #grid-view
{float:right;}
/*-------------------------------------------------------------------------------------*/

.text-right, .contact-info .right{text-align: left;}

.text-left, a.submenu1, .level0 .level0 a, #menu .cate_inner_bg > ul > li a, .customblock_inner, .checkout-checkout #accordion h2{text-align:right;}

.contact-info .address-detail,.contact-info .telephone,.contact-info .fax{float:right;}
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child > .btn, 
.input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle, 
.input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
    border-radius: 0px;
	-webkit-border-radius:0px;
	-khtml-border-radius:0px;
	-moz-border-radius:0px;

}
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child > .btn-group:not(:last-child) > .btn
{
	border-radius: 0;
	-webkit-border-radius:0;
	-khtml-border-radius:0;
	-moz-border-radius:0;
}
.product-thumb .price-old{margin:0 0 0 5px; }
.category_list li {float: right;margin: 0 0 5px 5px;}
.category_filter .sort-by{float:right;margin:8px 0 0 10px;}
#column-left{ float:right; }
#column-right{ float:left; }
.flex-viewport {direction: ltr;}
.main-menu > ul > li {float:right;}
.main-menu > ul > li ul > li > ul{ margin-left:0; margin-right:-13px;}
.main-menu > ul > li ul > li > a { position:relative;}
.flex-control-nav{ right:auto; left:10px; padding:0;}
.sale{ left:10px; right:auto; }
.product-list .sale{  left: 10px; right: auto;}
.customNavigation a.prev { left: 10px;  right: auto;}
.customNavigation a.next{ left:35px;  right: auto; }
.main-menu > ul > li ul > li > a.activSub{background-image: url("../../image/megnor/rtl/cat_arrow_hover_rtl.png"); background-repeat: no-repeat; background-position: left center; }
.main-menu > ul > li ul > li:hover > ul {left:auto; right:173px;}
.box .box-content ul li{ padding-right:0; margin-right:0; }
ul.box-category > li a.active + ul , .box .box-content ul ul{ margin-left:0; margin-right:0; padding-right:15px }
ul.box-category > li ul > li > a{
}
ul.box-category > li ul > li > a:hover{
}
#footer .column li a{
}
#footer .column li a:hover{
}

.top_button{left:25px; right:auto;}

.myaccount .dropdown-menu-right {
    right: auto;
    left: 0;
}
.dropdown-menu{
	right:15px;
	left:auto ;
	float:right;
}
.dropdown-menu.pull-right {
    right: auto;
    left: 0;
}
#top #currency .currency-select{text-align:right;}
.nav-tabs > li > a{margin-right:0; margin-left:2px;}
.breadcrumb>li+li:before{float:right; content:'\\';}
.customSelectInner , .customSelectOpen .customSelectInner{ background-position:left center; } 
.customSelectInner {padding-left:10px;  text-align: right;}
.product-grid li, #content .box-product .product-items{ float:right; }
.category-info .image{ float:right; margin-left:10px; }
#column-left .box-product .image, #column-right .box-product .image{ float:right;   margin-left: 25px; margin-right:0; }
#column-left .box-product .rating, #column-right .box-product .rating, #column-left .box-product .name, #column-right .box-product .name, #column-left .box-product .price, #column-right .box-product .price, #column-left .box-product .cart, #column-right .box-product .cart{ margin-left:0; }
.product-list .right{ float:left;margin-left: 0px; margin-right:15px; text-align:left;}

.product-info > .left + .right {  margin-right: 295px;   margin-left:0px;}
.product-carousel .slider-wrapper-outer{ direction:ltr !important; } 
.product-right .btn-group .wishlist .fa,.product-right .btn-group .compare .fa{margin-right:0px; margin-left:5px;}


#topcontrol{ right:auto !important; left:10px !important; } 

.list-inline {padding-right:0;}

#column-left .product-items .product-details, #column-right .product-items .product-details{float:right;}
.product-thumb .button-group button, #cart .text-right .addtocart, #cart .text-right .checkout{float:right;}
#cart .text-right .addtocart{margin:0 0 0 5px;}

.category_img {float:right;}
.category_description {float:left;}
.list-unstyled {padding-right:0;}
.treeview-list .expandable-hitarea, .treeview-list .hitarea {float:left;}
.information-sitemap .site-map ul{padding:0 40px 0 0 ;}

.addthis_toolbox.addthis_default_style {float:right;}
.radio input[type=radio],.radio-inline input[type=radio],.checkbox input[type=checkbox],.checkbox-inline input[type=checkbox] {
    float: right;
	margin:3px 0 0 8px;
}
.radio, .checkbox,.radio-inline, .checkbox-inline{padding-left:0;}
.radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline{margin-right:10px; margin-left:0;}
.toggle .mobile_togglemenu{left:5px; right:auto;}

.col-sm-offset-8{margin-left:0; margin-right:66.66666666666666%; float:left;}

#accordion label.col-sm-2.control-label{padding:0 0 0 15px;}
.checkout-cart .input-group-btn:last-child > .btn, .checkout-cart .input-group-btn:last-child > .btn-group{margin-left:0px; margin-right:5px;}
#accordion .form-horizontal .control-label {text-align:right;}
.checkout-checkout #accordion label.col-sm-2.control-label{padding-left:0; padding-right:15px;}

#bottom-footer li{padding:1px 2px 1px 7px; background-position:left center;}

#top .social_block ul li, #language{border-right:1px solid #4d4d4d; border-left:medium none;}
#top .social_block ul li:last-child{border-left:1px solid #4d4d4d;}
#top-links .Advertise{padding:5px 0px 5px 16px; border-left:1px solid #4d4d4d; border-right:medium none;}
.header_search .searchtoggle{right:auto; left:0;}
#search .input-lg{padding:4px 10px 4px 40px;}
.header_search .input-group-btn{right:auto; left:10px;}
.header_search .button-search::before{
	right:auto; 
	left:9px;
	content:"\f104";
}	
.active_menu{right:auto; left:3px; background-position:left 0;}
#menu > ul > li > div{left:auto; right:0;}
#language .fa, #currency .fa{margin-left:0; margin-right:4px;}
#currency .dropdown-menu{right:auto; left:-2px; padding:8px 19px 8px 0;}
#language .dropdown-menu{left:auto; right:-3px;}
.free_shipping{float:right; padding:0 54px 0 25px; margin-right:0; margin-left:15px; border-right:medium none; border-left:1px solid #c0c0c0; background-position:148px -155px;}
.call_us{float:right; padding:0 60px 0 29px; background-position:143px -222px;}
.custom_menu.menu, .new-custom, .customblock_inner{right:auto; left:0;}
.custom_menu.menu > a{padding:24px 17px 24px 0px;}
.main-menu > ul > li:first-child > a{padding:24px 0px 24px 25px;}
.categorycolumn{margin-right:0; margin-left:10px;}
.htabs a{border-right:medium none; border-left:1px solid #bebebe; float:right;}
.htabs li:last-child a{border-left:medium none; padding-left:0; padding-right:18px;}
.hometab .customNavigation a.next, #featured .customNavigation a.next, #bestseller .customNavigation a.next, #latest .customNavigation a.next, #special .customNavigation a.next, #blog .customNavigation a.next, .related .customNavigation a.next, .banners-slider-carousel .customNavigation a.next{
	padding:0 4px 0 0;
}
.hometab .customNavigation a.prev, #featured .customNavigation a.prev, #bestseller .customNavigation a.prev, #latest .customNavigation a.prev, #special .customNavigation a.prev, #blog .customNavigation a.prev, .related .customNavigation a.prev, .banners-slider-carousel .customNavigation a.prev{
	padding:0 10px 0 0;
}
.product-block .product_hover .rating{float:left; margin:4px 0px 0 18px;}
.product-thumb .price-old{margin:0 5px 0 0px;}
.product-block .button_cart > button:hover, .filterbox #button-filter:hover, .productpage #button-cart:hover, #cart .text-right .addtocart:hover, #cart .text-right .checkout:hover, .btn-default:hover, .open .dropdown-toggle.btn-default, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary, .btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success, .btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info, .btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open .dropdown-toggle.btn-warning, .btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger{box-shadow:-7px 7px 0 0 rgba(0, 0, 0, 0.15);}
.product-grid li, #content .box-product .product-items, .hometab .box-product .product-items, #featured .box-product .product-items, #bestseller .box-product .product-items, #special .box-product .product-items, #latest .box-product .product-items{float:right;}
.subbanner_half.sub_half1 {margin-left: 1px; margin-right:0px;}
.footer_left_block{float:right; padding-right:0; padding-left:40px;}
#footer .col-sm-3.column.Contact_us{padding:0 35px 0 0;}
.manufacture_block > ul{float:right; padding-right:15px; padding-left:0;}
.manufacture_block > ul li:last-child, .footer_bottom li:last-child{background:transparent url(../../image/megnor/pipe.gif) no-repeat scroll right 8px;}
.manufacture_block > ul li:first-child, .footer_bottom li:first-child{background:none;}
.footer_payment_block{border-left:medium none; border-right:1px solid #5d5d5d;}
.hover_button{margin-left:0; margin-right:8px;}


.layout-2.left-col #column-left{padding-right:15px; padding-left:9px;}
.layout-2.right-col #column-right{padding-right:9px; padding-left:15px;}
.product-list .product-block .caption, .product-list .product-block .button_cart, #column-left .box .box-heading, #column-right .box .box-heading, #column-left #featured.box .box-heading, #column-left #bestseller.box .box-heading, #column-left #special.box .box-heading, #column-left #latest.box .box-heading, #column-right #featured.box .box-heading, #column-right #bestseller.box .box-heading, #column-right #special.box .box-heading, #column-right #latest.box .box-heading, .filterbox .panel-footer, #column-left .product-block .button_cart, #column-right .product-block .button_cart{text-align:right;}
.product-details .separator, .productpage .separator{float:right;}
.product-list .product-details .wishlist .fa, .product-list .product-details .compare .fa, .productpage .btn-group .wishlist .fa, .productpage .btn-group .compare .fa{margin-right:0; margin-left:5px;}
.category_filter #list-view, .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group{margin-left:0; margin-right:-1px;}
#column-left .product-thumb .caption, #column-right .product-thumb .caption{float:right; text-align:right;}
.breadcrumb{left:0; right:auto;}


.product-right .old-price{float:right; margin-left:5px; margin-right:0;}
.form-group.qty .control-label{float:right; margin:5px 0 0 10px;}
.productpage #input-quantity{float:right; margin-right:0; margin-left:15px;}
.btn-group > .btn, .btn-group-vertical > .btn{float:right;}
.product-description .description-right{padding-left:0; padding-right:15px;}
.product-info .additional-carousel{margin-right:10px;}
.nav > li:first-child > a{padding:10px 0px 10px 15px;}

.address-detail .btn.btn-info{float:right; margin:20px 36px 0 0px;}
.checkout-cart .buttons .pull-right .btn-primary::before{margin-right:0; margin-left:8px;}
.footer_payment_block{text-align:left;}

#custom_tab li {float: right;}
#custom_tab.product-tabs ul li:first-child a.selected {
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid transparent;
}
.content_product_block, .productpage .product-right .btn-group, .addthis_toolbox.addthis_default_style{float:right; clear:both;}
.checkout-cart .text-left .btn-block .form-control{width:auto; float:right;}
.checkout-cart .text-left .btn-block span, .pagination > li > a, .pagination > li > span{float:right;}
.pagination > li > a, .pagination > li > span{margin-left:0; margin-right:4px;}

/*Megnor Blog CSS */ 
#content .box-product .blog-items {  float:right; }
.blog-left { float:right; margin-right:0; }
.blog-right { float:right; }
.write-comment { padding-right:10px; padding-left:0px; margin-right:8px; margin-left:0px; border-left:medium none; border-right:1px solid #9b9b9b;}
.blog-left .blog-image .zoom, .blog-image .post_hover .icon.zoom{margin-right:0; margin-left:10px;}
.blog_heading .blog_title {
    margin-bottom: 10px;
    padding: 10px 60px 10px 0px;
}
.blog_page .blog_title::before{left:auto; right:0;}
.blog_heading .blog_title > h5, .blog_page .blog-desc, .single-blog .blog-desc{text-align:right;}
.blog_page .blog-date{float:right; text-align:right;}
.blog_page .write-comment{float:right; text-align:right; border-right:medium none; padding-right:15px; padding-left:0;}
.blog_page .blog-date .fa.fa-calendar-o, .blog_page .fa.fa-comment{margin-left:8px; margin-right:0;}
.blog_page .read-more{float:left;}
.blog_page .read-more:hover{
	box-shadow:-7px 7px 0 0 rgba(0, 0, 0, 0.15);
	-webkit-box-shadow:-7px 7px 0 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow:-7px 7px 0 0 rgba(0, 0, 0, 0.15);
}
.view-comment .col-sm-3.date{float:left; text-align:left;}
.view-comment .date .fa{margin-right:0; margin-left:10px;}
.single-blog .form-horizontal .control-label{text-align:right;}
/*Megnor Blog CSS */ 

@media (min-width:768px) {
    .col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12 {
        float: right;
	}
	.product-list .product-thumb .image {float: right; margin-right:0; margin-left:20px;}
}
.contact-info .address-detail strong{  padding: 5px 45px 0 0; background-position:right -235px; float:right;}
.contact-info .telephone strong{  padding: 5px 45px 0 0; background-position:right -314px; float:right;}
.contact-info .fax strong{  padding: 5px 45px 0 0; background-position:right -272px; float:right;}
.contact-info address{float:right; margin: 0 40px 0 0;}

/*-------------------------------------RTL Responsive-------------------------------------*/


@media only screen and (min-width: 1210px) and (max-width: 1360px) {
}
@media only screen and (max-width: 1209px) {
	.main-menu > ul > li:first-child > a{padding:24px 0 24px 18px;}
	.categorycolumn{margin-left:5px; margin-right:0;}
	.footer_left_block{padding-left:30px;}
	#footer .col-sm-3.column.Contact_us{padding:0;}
	#column-left .box-product .image, #column-right .box-product .image{margin-left:10px;}
	#footer .footer_left_block.col-sm-3.column{padding:0 0px 0 30px;}

}
@media only screen and (min-width: 980px) and (max-width: 1023px) {
	.contact-info .right{float:right; text-align:right; margin-top:30px;}
	.contact-info .left{width:100%;}	
}
@media only screen and (max-width: 979px) {
 
	.nav-responsive .expandable{ float:left; margin-right:0; margin-left:0px;  }
	.nav-responsive div, .responsive-menu .hitarea{ margin-left:10px; margin-right:0; }
	 .responsive-menu .main-navigation ul{ padding-right:20px; padding-left:0; }
	.nav-responsive div, .responsive-menu .hitarea{ float:left; }
	.toggle .mobile_togglemenu{ background-position: left -8px; }
	.active .mobile_togglemenu{background-position:left -58px;}
	 .pagination-right{float:right;}
	 .nav-responsive span{padding:24px 0;}
	 .footer_left_block{text-align:right;}
	 .nav-responsive div, .responsive-menu .hitarea{margin-left:0;}
	 .product-list .product-thumb .image{margin-left:0;}
	 #column-left .box-product .image, #column-right .box-product .image{margin-left:7px;}
	 .product-info .additional-carousel{margin-right:0;}
	 .header_center_static{float:left;}
	 .call_us{padding:0 47px 0 15px;background-position:132px -222px;}
	 .col-sm-3.header_cart{float:left; right:auto; left:0;}
	 .contact-info .right{float:right; text-align:right; margin-top:30px;}
	 .contact-info .left{width:100%;}
	 .nav-responsive .expandable{float:right !important;}
	 .col-sm-offset-8{margin-right:50.667%; margin-left:0 !important;}
	 .fotter_bottom_section .manufacturer_title{float:none;}
	 .footer_payment_block{text-align:center; border-right:medium none; overflow:visible;}
	 #footer .footer_left_block.col-sm-3.column{padding:0;}
	 .checkout-cart .input-group-btn:last-child > .btn, .checkout-cart .input-group-btn:last-child > .btn-group{margin-left:5px; margin-right:0px;}
	.checkout-cart #collapse-coupon #button-coupon, .checkout-cart #collapse-voucher #button-voucher {margin-left: 0px; margin-right: 3px;}
	.checkout-cart .table.table-bordered .input-group-btn{float:right;}
}
@media (max-width: 767px) {
	.header-logo,.header-search,.header-cart{display:inline-block;float:none;width:100%;}
	.header-logo{text-align:center;}
	.header-logo > div{display:inline-block;}
	.header-cart { margin: 0 auto; padding: 0;width: 200px;}	
	#cart .dropdown-menu {left: 0px; right:auto;}
	.category_filter .show {float: right; margin: 8px 0 0 10px;}
	.header-cart #cart{float:none;}
	.header-cart{width:100%; display:inline-block; text-align:center;}
	 .table-responsive {
		float: right;
	 }
	 .checkout-cart .table.table-bordered .input-group-btn{float:right;}
	 .col-sm-4.logo, .header_right, .product-list .product-thumb .image{float:right;}
	 .header_center_static, .call_us{float:left;}
	 .col-sm-3.header_cart{left:15px;}
	 .product-info .additional-carousel{margin: 0 auto;}
	 .call_us{padding:0 42px 0 5px; background-position:115px -222px;}
	 .breadcrumb{float:right; left:auto;}
	 .col-sm-offset-8{margin-left:0 !important;  margin-right:49.667% !important;}
	 .view-comment .col-sm-3.date{text-align:right;}
	 #currency .dropdown-menu{left:-6px;}
	 #language .dropdown-menu{right:0;}
	 
	 
}
@media only screen and (max-width: 479px) {
	#cart .dropdown-menu { left: 0px;right:auto; margin:0; top:135%;}
	.table{	
		float: right;
		display:inline;		
	}
	.pagination-wrapper .page-link{float:right;}
	.pagination-wrapper .page-result{float:right;clear:both;}
	.checkout-cart .pull-right {clear: both; float: right; margin: 10px 0;}
	.checkout-cart #accordion .input-group-btn{float:right;}
	.checkout-cart .input-group-btn:last-child > .btn, .checkout-cart .input-group-btn:last-child > .btn-group{margin:0px;}
	.htabs a{border-left:medium none;}
	.col-sm-offset-8{margin-left:0 !important;  margin-right:0% !important; width:auto !important;}
	.fotter_bottom_section .manufacturer_title{float:none;}
	.container h1, .container h2, .breadcrumb{text-align:right;}
	#top-links{clear:none; float:left; margin:0;}
	.blog_page .write-comment{float:right; text-align:right; padding-right:0;}
	.blog_page .read-more{float:right;}
	.htabs li:last-child a{padding:0;}
	.checkout-cart #collapse-coupon #button-coupon, .checkout-cart #collapse-voucher #button-voucher {margin-left: 0px; margin-right: 0;}
}
@media only screen and (max-width: 319px){
	#cart .dropdown-menu { left: -33px;right:auto;}
	#cart .text-right .checkout{margin:0;}
	#cart .text-right .checkout{float:left; clear:both;}
}

